.div .row {
    position: relative;
    padding-bottom: 20px;
}
.containerSmall {
    width: 600px;
    background-color: lightblue;
    border-radius: 20px;
    padding-bottom: 20px;
    margin-top: 100px;
}
.khungMap {
    width: 500px;
    height: 500px;
}
.khungVien {
    background-color: lightgrey;
    /* width: 300px; */
    border: 2px solid green;
    padding: 20px;
    margin: 2px;
    border-radius: 28px;
}
.boder {
    border-radius: 20px;
    padding: 8px;
}

.center {
    margin: 0 auto;
}
.right{
    float: right;
}
.table-bordered {
    border: 8px solid #dee2e6;
}
.buttonTimXe {
    border-radius: 13px;
    margin: 0 auto;
    margin-top: 16px;
}
#goTop {
    bottom: 100px;
    cursor: pointer;
    display: none;
    height: 35px;
    position: fixed;
    right: 10px;
    width: 90px;
    z-index: 1000;
}
#dauTrang{
    width:80px;
    height:80px;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
