#map {
    height: 500px;
    width: 600px;
    margin-top:50px;
}
.caption{
    position: relative;
}

.container_repair {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}
.row {
    height: 500px;
    width: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}
